@import "../../../app/globalscss.scss";

.services-section {
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-rows: 1fr;
  height: $section-height;
  padding: $section-padding;
  background-color: gray;
  background-image: url("https://www.digitalgravity.ae/assets/images/home/services/digital-marketing-bg.webp");
  // background-image: url("../../../../public/assets/backgrounds/bg-1.jpg");
}

.section-heading {
  @include section-heading;
  grid-column: 1 / 2;
}

.slider-list {
  display: grid;
  grid-template-columns: 20% 1fr;
  margin-top: 10vh;
  align-items: center;
}

.scroll-indicator {
  width: fit-content;
  text-align: center;
}

.scroll-indicator > section {
  height: 50px;
  width: 22px;
  border-radius: 15px;
  border: 2px solid $color3;
  margin: 5px;
}

.scroll-indicator > h6 {
  color: $color3;
}

.scroll-indicator > section > section {
  background-color: white;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin: 10px auto;
  animation-name: scroll-icon-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes scroll-icon-animation {
  0% {
    /* margin: 0px auto; */
    opacity: 0;
  }
  25% {
    /* margin: 0px auto; */
    opacity: 0.5;
  }
  50% {
    /* margin: 45px auto; */
    opacity: 1;
  }
  75% {
    /* margin: 45px auto; */
    opacity: 0.5;
  }
  100% {
    /* margin: 45px auto; */
    opacity: 0;
  }
}

#slider {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10px;
  padding: 10px 20px;
  border-left: 1px solid white;
  height: 250px;
  overflow-y: hidden;
  align-items: center;
}

#slider > h3 {
  cursor: pointer;
  width: fit-content;
  color: #727d89;
  transition: all 0.5s ease;
}

#slider-item-2 {
  @include roboto-bold;
  font-size: $font-slider-selected-large !important;
  color: $color3 !important;
  margin: 5px 0px;
}

#slider-item-0,
#slider-item-4 {
  color: $color3 !important;
  font-size: $font-slider-selected-small !important;
  opacity: 0.2;
}

#slider-item-1,
#slider-item-3 {
  color: $color3 !important;
  font-size: $font-slider-selected-medium !important;
  opacity: 0.5;
}

#slider > h3:hover {
  margin-left: 5px;
}

.service-section-2 {
  margin-top: 8vh;
}

.service-section-2 > img {
  width: 90%;
}

.slider-item-details {
  width: 80%;
  color: $color3;
}

.slider-items-features {
  margin-top: 10px;
}

#services-name-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#services-name-list > li {
  list-style-type: circle !important;
  margin-left: 50px;
}

#servicesDescription {
  font-size: $font-small;
}

.circle-container {
  position: relative;
  bottom: 20.5em;
  height: 11em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
  margin: 50px;
  border: solid 5px white;
  width: 11em;
  left: 6em;
  border: solid 2px $font-secondary-color;
  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.2em;

    &:nth-of-type(1) {
      -moz-transform: rotate(90deg) translate(5.3em) rotate(-90deg);
      -ms-transform: rotate(90deg) translate(5.3em) rotate(-90deg);
      -webkit-transform: rotate(90deg) translate(5.3em) rotate(-90deg);
      transform: rotate(90deg) translate(5.3em) rotate(-90deg);
    }
    &:nth-of-type(2) {
      -moz-transform: rotate(180deg) translate(5.3em) rotate(-180deg);
      -ms-transform: rotate(180deg) translate(5.3em) rotate(-180deg);
      -webkit-transform: rotate(180deg) translate(5.3em) rotate(-180deg);
      transform: rotate(180deg) translate(5.3em) rotate(-180deg);
    }
    &:nth-of-type(3) {
      -moz-transform: rotate(270deg) translate(5.3em) rotate(-270deg);
      -ms-transform: rotate(270deg) translate(5.3em) rotate(-270deg);
      -webkit-transform: rotate(270deg) translate(5.3em) rotate(-270deg);
      transform: rotate(270deg) translate(5.3em) rotate(-270deg);
    }
    &:nth-of-type(4) {
      -moz-transform: rotate(360deg) translate(5.3em) rotate(-360deg);
      -ms-transform: rotate(360deg) translate(5.3em) rotate(-360deg);
      -webkit-transform: rotate(360deg) translate(5.3em) rotate(-360deg);
      transform: rotate(360deg) translate(5.3em) rotate(-360deg);
    }
    &:nth-of-type(5) {
      -moz-transform: rotate(240deg) translate(5.3em) rotate(-240deg);
      -ms-transform: rotate(240deg) translate(105.3em) rotate(-240deg);
      -webkit-transform: rotate(240deg) translate(5.3em) rotate(-240deg);
      transform: rotate(240deg) translate(5.3em) rotate(-240deg);
    }
    &:nth-of-type(6) {
      -moz-transform: rotate(300deg) translate(5.3em) rotate(-300deg);
      -ms-transform: rotate(300deg) translate(5.3em) rotate(-300deg);
      -webkit-transform: rotate(300deg) translate(5.3em) rotate(-300deg);
      transform: rotate(300deg) translate(5.3em) rotate(-300deg);
    }

    &:nth-of-type(7) {
      -moz-transform: rotate(360deg) translate(5.3em) rotate(-360deg);
      -ms-transform: rotate(360deg) translate(5.3em) rotate(-360deg);
      -webkit-transform: rotate(360deg) translate(5.3em) rotate(-360deg);
      transform: rotate(360deg) translate(5.3em) rotate(-360deg);
    }
    // &:nth-of-type(8) {
    //   -moz-transform: rotate(252deg) translate(11.5em) rotate(-252deg);
    //   -ms-transform: rotate(252deg) translate(11.5em) rotate(-252deg);
    //   -webkit-transform: rotate(252deg) translate(11.5em) rotate(-252deg);
    //   transform: rotate(252deg) translate(11.5em) rotate(-252deg);
    // }
    // &:nth-of-type(9) {
    //   -moz-transform: rotate(288deg) translate(11.5em) rotate(-288deg);
    //   -ms-transform: rotate(288deg) translate(11.5em) rotate(-288deg);
    //   -webkit-transform: rotate(288deg) translate(11.5em) rotate(-288deg);
    //   transform: rotate(288deg) translate(11.5em) rotate(-288deg);
    // }
    // &:nth-of-type(10) {
    //   -moz-transform: rotate(324deg) translate(11.5em) rotate(-324deg);
    //   -ms-transform: rotate(324deg) translate(11.5em) rotate(-324deg);
    //   -webkit-transform: rotate(324deg) translate(11.5em) rotate(-324deg);
    //   transform: rotate(324deg) translate(11.5em) rotate(-324deg);
    // }
  }
  a {
    display: grid;
    border-radius: 50%;
    box-shadow: 0 0 0 5px $service-slider_border-color;
    background: #fff;
    height: 70px;
    width: 70px;
    place-items: center;
  }
  a:hover {
    background-color: $primary-color;
    color: white;

  }

  .circle-icon {
    font-size: xxx-large;
  }
  i {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
  }
  .active i {
    color: #f9a732;
  }
}

.circle-container-small {
  position: relative;
  width: 23em;
  height: 23em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 50px;
  border: solid 2px $font-secondary-color;
  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.2em;

    &:nth-of-type(1) {
      -moz-transform: rotate(0deg) translate(11.5em) rotate(-0deg);
      -ms-transform: rotate(0deg) translate(11.5em) rotate(-0deg);
      -webkit-transform: rotate(0deg) translate(11.5em) rotate(-0deg);
      transform: rotate(0deg) translate(11.5em) rotate(-0deg);
    }
    &:nth-of-type(2) {
      -moz-transform: rotate(60deg) translate(11.5em) rotate(-60deg);
      -ms-transform: rotate(60deg) translate(11.5em) rotate(-60deg);
      -webkit-transform: rotate(60deg) translate(11.5em) rotate(-60deg);
      transform: rotate(60deg) translate(11.5em) rotate(-60deg);
    }
    &:nth-of-type(3) {
      -moz-transform: rotate(120deg) translate(11.5em) rotate(-120deg);
      -ms-transform: rotate(120deg) translate(11.5em) rotate(-120deg);
      -webkit-transform: rotate(120deg) translate(11.5em) rotate(-120deg);
      transform: rotate(120deg) translate(11.5em) rotate(-120deg);
    }
    &:nth-of-type(4) {
      -moz-transform: rotate(180deg) translate(11.5em) rotate(-180deg);
      -ms-transform: rotate(180deg) translate(11.5em) rotate(-180deg);
      -webkit-transform: rotate(180deg) translate(11.5em) rotate(-180deg);
      transform: rotate(180deg) translate(11.5em) rotate(-180deg);
    }
    &:nth-of-type(5) {
      -moz-transform: rotate(240deg) translate(11.5em) rotate(-240deg);
      -ms-transform: rotate(240deg) translate(1011.5em) rotate(-240deg);
      -webkit-transform: rotate(240deg) translate(11.5em) rotate(-240deg);
      transform: rotate(240deg) translate(11.5em) rotate(-240deg);
    }
    &:nth-of-type(6) {
      -moz-transform: rotate(300deg) translate(11.5em) rotate(-300deg);
      -ms-transform: rotate(300deg) translate(11.5em) rotate(-300deg);
      -webkit-transform: rotate(300deg) translate(11.5em) rotate(-300deg);
      transform: rotate(300deg) translate(11.5em) rotate(-300deg);
    }

    &:nth-of-type(7) {
      -moz-transform: rotate(360deg) translate(11.5em) rotate(-360deg);
      -ms-transform: rotate(360deg) translate(11.5em) rotate(-360deg);
      -webkit-transform: rotate(360deg) translate(11.5em) rotate(-360deg);
      transform: rotate(360deg) translate(11.5em) rotate(-360deg);
    }
    // &:nth-of-type(8) {
    //   -moz-transform: rotate(252deg) translate(11.5em) rotate(-252deg);
    //   -ms-transform: rotate(252deg) translate(11.5em) rotate(-252deg);
    //   -webkit-transform: rotate(252deg) translate(11.5em) rotate(-252deg);
    //   transform: rotate(252deg) translate(11.5em) rotate(-252deg);
    // }
    // &:nth-of-type(9) {
    //   -moz-transform: rotate(288deg) translate(11.5em) rotate(-288deg);
    //   -ms-transform: rotate(288deg) translate(11.5em) rotate(-288deg);
    //   -webkit-transform: rotate(288deg) translate(11.5em) rotate(-288deg);
    //   transform: rotate(288deg) translate(11.5em) rotate(-288deg);
    // }
    // &:nth-of-type(10) {
    //   -moz-transform: rotate(324deg) translate(11.5em) rotate(-324deg);
    //   -ms-transform: rotate(324deg) translate(11.5em) rotate(-324deg);
    //   -webkit-transform: rotate(324deg) translate(11.5em) rotate(-324deg);
    //   transform: rotate(324deg) translate(11.5em) rotate(-324deg);
    // }
  }
  a {
    display: grid;
    border-radius: 50%;
    box-shadow: 0 0 0 5px $service-slider_border-color;
    background: #fff;
    height: 60px;
    width: 60px;
    place-items: center;
  }
  a:hover {
    background-color: $primary-color;
    color: white;

  }

  .circle-icon {
    font-size: xxx-large;
  }
  i {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
  }
  .active i {
    color: #f9a732;
  }
}

.active-circle {
  background-color: $primary-color !important;
  color: $secondary-color;
  transition: all 1.5s ease;

}

@media screen and (max-width: 768px) {
  #slider {
    row-gap: 5px;
    padding: 10px 20px;
    border-left: 1px solid white;
    height: 190px !important;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 426px) {
  .services-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: $section-height;
    padding: $section-padding;
    text-align: center;
  }

  .slider-list {
    margin-top: 2vh;
  }

  .services-section {
    height: 500px;
  }

  #slider {
    row-gap: 5px;
    padding: 10px 20px;
    border-left: 1px solid white;
    height: 100px !important;
    overflow-y: hidden;
  }

  .service-section-2 > img {
    width: 60%;
  }

  .service-section-2 {
    margin-top: 0vh;
    transition: all 1s ease;

  }

  .slider-item-details {
    width: 65%;
    margin: 0px auto;
  }

  #servicesDescription {
    font-size: $font-small;
    text-align: justify;
  }

  #slider > h3:hover {
    margin-left: 0px;
  }

  .scroll-indicator > section {
    height: 30px;
    width: 15px;
    border-radius: 15px;
    border: 2px solid white;
    margin: 5px;
  }
}
