.ourclient-section {
    display: grid;
    grid-template-rows: 200px 1fr;
    height: 700px;
    padding: 10px 0px 80px 0px;
    background-color: #fcfafa;
    /* background-image: url("../../assets//backgrounds/bg-1.jpg"); */
  }
  
  .ourClient-section-heading {
    font-size: 2em;
    margin-left: 10%;
    margin-top: 50px;
    color: #363636;
  }
  .red-color-font {
      color: #e3204a
  }
  
  
  .client-container {
      overflow: hidden;
      .client-slider {
        margin: 0 auto 0 0;
        width: calc(300em / 16);
        height: calc(200em / 16);
        overflow: visible;
      }
      .client-slider__list {
        width: fit-content;
        cursor: grab;
      }
      .client-slider__listItem {
        /* background: #ccc; */
        height: 330px;
        border-radius: 20px;
      }
      .client-scroll {
        position: relative;
        left: 0;
        margin-top: calc(40em / 16);
        width: 100%;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          margin: auto 0;
          width: 100%;
          height: 100%;
          background-color: #dad4cd;
        }
        & .client-swiper-scrollbar-drag {
          position: relative;
          top: 0;
          left: 0;
          z-index: 2;
          height: 100%;
          background-color: #937152;
          border-radius: 0;
          transform-origin: right center;
          will-change: transform;
          cursor: grab;
        }
      }
      .client-scroll__growbar {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        height: 100%;
        background: #937152;
      }
    }
    .client-container-inner {
      padding-top: calc(20em / 16);
      margin: 0 auto;
      width: calc(325 / 375 * 100%);
      overflow: visible;
    }
    
    .client-slider__listItem-img1 {
      height: 40%;
      width: 40%;
      filter: grayscale(100%);
    }
    
    .client-slider__listItem-img1:hover {
      filter: grayscale(100%);
    } 
    
    .client-slider__listItem-img2 {
      height: 50px;
      margin-top: 5px;
    }
    
    .client-slider-container > .rec-carousel-wrapper > .rec-carousel > button {
        display: none !important;
        cursor: grab;
    }

    .client-slider-container > .rec-carousel-wrapper > .rec-carousel > .rec-slider-container {
        width: 80% !important;
        margin: 0px auto;
    }