.ourWork-slider-item {
    height: 600px;
    width: 400px;
}

.ourWork-slider-item-img1 {
    height: 70%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.ourWork-slider-item-img1:hover {
    filter: grayscale(0%);
}

.ourWork-slider-item-img1 > img {
    height: 100%;
    width: 100%;
}

.ourWork-slider-item-img2 {
    height: 10%;
    /* width: 100%; */
    object-fit: cover;
}

.ourWork-slider-item-img2 > img {
    height: 100%;
    object-fit: cover;
}

.ourWork-slider-item > p {
    margin-top: 10px;
    color: #8d8d8d;
    font-size: 1em;
}


/* Client Css */

.client-slider-item {
    height: 700px;
    width: 200px;
}

.client-slider-item-img1 {
    height: 30%;
    width: 100%;
    margin: 40%;
    object-fit: cover;
    filter: grayscale(100%);
}

.client-slider-item-img1:hover {
    filter: grayscale(0%);
}
