@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$navbar-height: 70px;
$section-height: 100vh;
$section-height-mobile: 70vh;
$section-width: 100%;
$section-padding: 5vh 5%;
$footer-padding: 10vh 5%;

$zIndex-front: 1;
$zIndex-back: -1;

$primary-color: #ed3338;
$secondary-color: white;
$color1: #4d4d4d;
$color2: black;
$color3: white;
$logo-back-color: #0000009e;

$font-large: 5vw;
$font-medium: 3vw;
$font-medium2: 2.5vw;
$font-small: 1vw;
$font-smallest: 0.8vw;

$font-slider-selected-large: 1.5vw;
$font-slider-selected-medium: 1.2vw;
$font-slider-selected-small: 0.8vw;

$font-small-mobile: 2vw;

$font-primary-color: #ed3338;
$font-secondary-color: white;
$font-color1: gray;
$font-color2: black;

@mixin section-heading {
    @include roboto-bold;
    text-align: left;
    font-size: $font-large;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: $font-secondary-color;
}

@mixin social-icon-size {
    height: 40px;
    width: 40px;
}

@mixin social-icon-size-mobile {
    height: 25px;
    width: 25px;
}

@mixin roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

@mixin roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

@mixin roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

@mixin roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

@mixin roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

@mixin roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

@mixin roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

@mixin roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
