@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.cover-section {
  display: grid;
  grid-template-rows: 70px 1fr 1fr;
  height: 800px;
  padding: 10px, 0px;
  background-image: url('../../../public/assets/backgrounds/bg-1.jpg')
}

.cover-section {
    height: 800px;
    width: 100%;
    position: relative;
}

.cover-section  video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.caption {
  z-index: 1;
}

.cover-item {
  background-color: aliceblue;
}

/* navbar start */

.header {
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #1c1c1cd4; */
  height: 70px;
  align-items: center;
}

#header-icon {
  background-color: gray;
  height: 70px !important;
  width: fit-content;
  padding: 10px;
}

.header-nav {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  place-items: center;
  justify-items: end;
}

#header-icon > Image {
  height: 100%;
}

#nav-options {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  margin-left: 10%;
}

.navbar-list {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin: 15px;
}

.navbar-list:hover {
  color: red;
}

.header-contact {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 70px;
  align-items: center;
}

.speak-button {
  display: grid;
  font-size: 0.8em;
  color: red;
  height: 50px;
  width: fit-content;
  padding: 10px 30px;
  align-items: center;
  cursor: pointer;
}

.speak-button:hover {
  color: white;
  background-color: red;
}

.color-red {
  color: red;
}

/* navbar end*/

/* cover-item-1 */

.cover-item-1 {
  display: grid;
  grid-template-columns: 30% 1fr;
  padding: 50px;
  margin-top: 50px;
}

.cover-item-icon-Image {
  height: 35px;
  width: 35px;
  margin: 5px;
}

.cover-text-left {
  font-size: 5em;
  text-align: end;
  margin-top: 50px;
}

.cover-item-2 {
  padding: 50px 150px;
}

.cover-item-2 > p {
  width: 40%;
  font-size: 1.2em;
}

/* Animate Talk Button */

:root {
  --white: #eee;
  --black: #141414;
  --color: red;
  scroll-behavior: smooth;
}

.link {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: relative;
}
.link span,
.link i {
  position: relative;
}
.link i {
  margin-left: 0.5em;
}
.link .color {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background-color: var(--color);
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: -0.65em;
}

.wrapper {
  margin-top: 30px;
}

.text-gradient {
  background: #df1313;
  background: linear-gradient(
    to top right,
    #df1313 21%,
    #757575 63%,
    #f9f9f9 96%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-white {
    color: white;
}

/* .header-active {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00000080;
} */
