.Stick-icons {
    position: absolute;
    top: 40%;
}

.Stick-icons > section {
    height: 40px;
    width: 50px;
    margin-top: 10px;
    background-color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 3 !important;
}

.Stick-icons > section:hover {
    width: 70px;
}