@import "../../app/globalscss.scss";

.Stick-icons {
    position: absolute;
    top: 60%;
    z-index: 2 !important;
}

.Stick-icons > section {
    width: 45px;
    margin-top: 10px;
    background-color: $font-primary-color;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: $font-secondary-color;
    text-align: end;
    padding: 5px;
}

.Stick-icons > section:hover {
    width: 60px;
}