@import "../../../app/globalscss.scss";

.cover-section {
  display: grid;
  grid-template-rows: $navbar-height 1fr 1fr;
  height: $section-height;
  width: $section-width;
  padding: 10px, 0px;
  background-image: url("../../../../public/assets/backgrounds/bg-1.jpg");
  // background-color: $color1;
}

.cover-section video {
  height: $section-height;
  width: $section-width;
  position: absolute;
  object-fit: cover;
  z-index: $zIndex-back;
}

/* Just styling the content of the div, the *magic* in the previous rules */

.speak-button {
  display: grid;
  color: $secondary-color;
  height: $navbar-height;
  width: fit-content;
  padding: 10px 15px;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.speak-button:hover {
  color: $primary-color;
}

.color-red {
  color: red;
}

/* navbar end*/

/* cover-item-1 */

.cover-section-content-container {
  display: grid;
  height: calc($section-height - $navbar-height);
  align-content: center;
}

.cover-item-1 {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: auto;
  padding: 0px 30px 10px 150px;
  margin: 0px;
  height: 65vh;
}

.cover-item-icon-img {
  @include social-icon-size;
  margin: 5px;
  cursor: pointer;
}

.cover-text-left {
  @include roboto-black;
  font-size: $font-large;
  text-align: start;
  margin-top: 40px;
  line-height: 80%;
}

.cover-item-2 {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin-top: 10vh;
}

.cover-item-2 > p {
  @include roboto-light;
  width: 50%;
  font-size: $font-small;
  text-justify: auto;
}

.cover-social-icons {
  text-align: end;
}
/* Animate Talk Button */

:root {
  --white: #eee;
  --black: #141414;
  --color: red;
  scroll-behavior: smooth;
}

.link {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: relative;
}
.link span,
.link i {
  position: relative;
}
.link i {
  margin-left: 0.5em;
}
.link .color {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background-color: var(--color);
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: -0.65em;
  animation-name: talk-animation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.wrapper {
  margin-top: 30px;
}

.text-gradient {
  background: $primary-color;
  background: linear-gradient(to top right, $primary-color 21%, $secondary-color 53%, $color1 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-white {
  color: white;
}

@keyframes talk-animation {
  0% {
    width: 2em;
  }
  50% {
    width: 5.8em;
  }
  100% {
    width: 2em;
  }
}

/* .link:hover .color {
  animation-name: talk-animation;
  animation-duration: 1s;
  width: 7em;
} */

/* .navbar-responsive-icon {
  background-color: white;
  font-size: 0.8em;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  text-align: center;
  position: relative;
  top: -6px;
  display: none;
} */

.cover-social-links a {
  color: #fff;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.cover-social-links a:hover {
  color: #151515;
  background-color: #fff;
}

/* Responsive Css */
@media screen and (max-width: 1024px) {
  // .cover-item-1 {
  //   margin-top: 0px;
  // }

  .cover-item-1 {
    display: grid;
    grid-template-columns: 0% 1fr;
    grid-template-rows: auto;
  }

  .navbar-list {
    font-size: $font-small;
    margin: 10px;
  }

  .cover-text-left {
    font-size: $font-large;
    text-align: end;
  }

  .cover-item-icon-img {
    @include social-icon-size;
    margin: 0px;
  }

  .cover-item-2 {
    padding: 0px 150px 50px;
  }

  .cover-item-2 > p {
    width: 70%;
    font-size: $font-small;
  }

  .link {
    font-size: $font-small;
  }
}

@media screen and (max-width: 768px) {
  .responsive-nav {
    display: block;
  }

  .navbar-list {
    display: none;
  }

  .cover-text-left {
    font-size: $font-large;
    text-align: end;
  }

  .header-contact {
    display: none;
  }

  .cover-item-icon-img {
    @include social-icon-size;
    margin: 0px;
  }

  .cover-item-2 {
    padding: 0px 150px 50px;
  }

  .cover-item-2 > p {
    position: relative;
    top: -50px;
    width: 70%;
    font-size: $font-small;
  }

  .link {
    font-size: 1rem;
    position: relative;
    top: -50px;
  }
}

@media screen and (max-width: 426px) {
  .responsive-nav {
    display: block;
  }

  .cover-item-1 {
    margin-top: 0px;
    padding: 20px;
  }

  .navbar-list {
    display: none;
  }

  .cover-text-left {
    font-size: $font-large;
    text-align: end;
  }

  .header-contact {
    display: none;
  }

  .cover-item-icon-img {
    @include social-icon-size-mobile;
  }

  .cover-item-2 {
    padding: 0px 20px 40px 70px;
  }

  .cover-item-2 > p {
    position: relative;
    top: -50px;
    width: 80%;
    font-size: $font-small-mobile;
  }

  .link {
    font-size: $font-medium;
    position: relative;
    top: -50px;
  }

  .cover-section {
    height: $section-height-mobile;
  }

  .cover-section-content-container {
    display: grid;
    height: calc($section-height-mobile - $navbar-height);
    align-content: center;
  }
}
